<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-4"/>
  <arg name="y_pos" default="-4"/>
  <arg name="z_pos" default="0"/>
  <arg name="theta" default="0"/>
  <arg name="x_pos_f" default="4"/>
  <arg name="y_pos_f" default="4"/>
  <arg name="clearance" default="5"/>
  <arg name="rpm1" default="60"/>
  <arg name="rpm2" default="30"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name"  value="$(find astar_turtlebot3)/maps/map.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <!-- <node 
        pkg="astar_turtlebot3" 
        name="AstarPlanner" 
        type="controller.py" 
        output="screen" 
        args = "$(arg x_pos) $(arg y_pos) $(arg theta) $(arg x_pos_f) $(arg y_pos_f) $(arg clearance) $(arg rpm1) $(arg rpm2)"/> -->

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg theta) -param robot_description" />
</launch>
